# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.pub-cache/
.pub/

# Android
android/**/gradle-wrapper.jar
.gradle/
captures/
/android/app/release/
/android/key.properties

# Visual Studio Code
.vscode/

# OS Files
.DS_Store
Thumbs.db
